<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>bookmarkData</key>
		<data>
		Ym9va5AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAgAMAAAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAHZvdmEHAAAAAQEAAExp
		YnJhcnkAEAAAAAEBAABNb2JpbGUgRG9jdW1lbnRzEwAAAAEBAABjb21+YXBw
		bGV+Q2xvdWREb2NzAA0AAAABAQAA0J7QutC90LAuYmFuZAAAABgAAAABBgAA
		BAAAABQAAAAgAAAAMAAAAEgAAABkAAAACAAAAAQDAACaOAAAAAAAAAgAAAAE
		AwAAr8MDAAAAAAAIAAAABAMAALbDAwAAAAAACAAAAAQDAADp2QMAAAAAAAgA
		AAAEAwAA1wkEAAAAAAAIAAAABAMAAMkkrQAAAAAAGAAAAAEGAACcAAAArAAA
		ALwAAADMAAAA3AAAAOwAAAAIAAAAAAQAAEHE8V5M3uyuGAAAAAECAAACAAAA
		AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABN
		YWNpbnRvc2ggSEQIAAAABAMAAABQoRtzAAAACAAAAAAEAABBxLkawwAAACQA
		AAABAQAANDY1MEI0MTEtMjIxOS00OTU1LTlDRjAtQjcyRkEzNDE1MUM4GAAA
		AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAA
		AQUAABoAAAABAQAATlNVUkxEb2N1bWVudElkZW50aWZpZXJLZXkAAAQAAAAD
		AwAAEwsAAAgAAAAABAAAQcTxXkze8fVGAAAAAQEAAC9Vc2Vycy92b3ZhL0xp
		YnJhcnkvTW9iaWxlIERvY3VtZW50cy9jb21+YXBwbGV+Q2xvdWREb2NzL9Ce
		0LrQvdCwLmJhbmQAAPgAAAABAgAANTc3YTZhN2FmZjU0NWYzMjM2NjMwNzVm
		OGI0M2Y1NTliNmZmYzk4YjdjM2EyMzVlMjBiYTU5ZDM0OTU1MDk5OTswMDsw
		MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2Nv
		bS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAxOzAxMDAwMDEyOzAw
		MDAwMDAwMDBhZDI0Yzk7MDE7L3VzZXJzL3ZvdmEvbGlicmFyeS9tb2JpbGUg
		ZG9jdW1lbnRzL2NvbX5hcHBsZX5jbG91ZGRvY3Mv0L7QutC90LAuYmFuZADY
		AAAA/v///wEAAAAAAAAAEQAAAAQQAAB8AAAAAAAAAAUQAAD8AAAAAAAAABAQ
		AAAsAQAAAAAAACAQAABkAAAAAAAAAEAQAAAcAQAAAAAAAEIQAAAgAgAAAAAA
		AAIgAADcAQAAAAAAAAUgAABMAQAAAAAAABAgAABcAQAAAAAAABEgAACQAQAA
		AAAAABIgAABwAQAAAAAAABMgAACAAQAAAAAAACAgAAC8AQAAAAAAADAgAADo
		AQAAAAAAAIDwAACAAgAAAAAAAAD/AAAwAgAAAAAAAPABAIAUAgAAAAAAAA==
		</data>
		<key>date</key>
		<string>2023-04-09 09:28:03 +0000</string>
		<key>unique-id</key>
		<string>7230933C-9207-4547-96B8-D630A5E1511F</string>
	</dict>
</array>
</plist>
